* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    background-color: rgba(0, 0, 0, 0.479);
}

/* NavBar here */
nav {
    background: rgb(26, 22, 22);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 2.5rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav .mainMenu li a:hover {
    color: hsl(16, 100%, 40%);
}

nav .openMenu {
    font-size: 2rem;
    margin: 2rem;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-facebook,
.fa-instagram,
.fa-discord,
.fa-github {
    color: rgb(200, 200, 245);
    text-shadow: 0 0 15px rgba(230, 230, 255, 0.466);
    background: transparent;
    padding: .71rem;
    border: none;
    border-radius: 50%;

}

:where(.fa-facebook, .fa-instagram, .fa-discord, .fa-github):hover {
    background: rgba(183, 241, 255, 0.678);
    color: rgb(26, 22, 22);
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.753);
    border: none;
}

nav .logo {
    margin: .6rem;
    font-size: 2.5rem;
    user-select: none;
}

@media (max-width: 786px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(26, 22, 22);
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: hsl(16, 100%, 40%);
        font-size: 1.6rem;
    }

    .icons i {
        display: inline-block;
    }
}
/* NavBar Ends Here */

/* Main Starts Here */
section {
    height: 100vh;
    display: flex;
}

/* Quiz Layout */
.app {
    background: hsl(0, 5%, 95%);
    width: 90%;
    max-width: 60rem;
    margin: 10rem auto 0;
    border-radius: 1rem;
    padding: 3rem;
    height: auto;
    min-height: 50rem; 
    max-height: 60rem; 
    position: relative;
    bottom: 5rem;
    
    display: flex;               /* Flex container */
    flex-direction: column;     /* Stack children vertically */
    justify-content: space-between; /* Space children apart */
}

.app h1 {
    font-size: 3.8rem;
    color: hsl(0, 6%, 6%);
    font-weight: 600;
    border-bottom: .1rem solid #333;
    padding-bottom: 3rem;
    text-align: center;
}

.quiz {
    padding: 2rem 0;
}

.app h2 {
    font-size: 2.8rem;
    color: hsl(0, 6%, 6%);
    font-weight: 400;
}

.btn {
    background: hsl(4, 3%, 97%);
    color: #222;
    font-weight: 500;
    width: 100%;
    border: .1rem solid #222;
    padding: 1rem;
    margin: 1rem 0;
    text-align: left;
    border-radius: .4rem;
    cursor: pointer;
}

.btn:hover {
    background: #222;
    color: hsl(4, 3%, 97%);
}
.btn-correct {
    background: hsl(39, 69%, 69%);
    color: initial;
}

.btn-wrong {
    background: hsl(120, 85%, 16%);
    color: hsl(0, 5%, 95%);
}
.btn-answered.btn-correct:hover {
    background: hsl(39, 69%, 69%);
    color: initial; 
}

.btn-answered.btn-wrong:hover {
    background: hsl(120, 85%, 16%);
    color: hsl(0, 5%, 95%); 
}

.quiz-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; /* Optional: Add some margin to space it from the quiz content */
}
#next-button {
    border-top-right-radius: 5rem 3rem;
    border-bottom-right-radius: 5rem 3rem;
    box-shadow: -.3rem .3rem .3rem black, -.6rem .6rem .6rem black, -.9rem .9rem .9rem black;
}
#previous-button {
    border-top-left-radius: 5rem 3rem;
    border-bottom-left-radius: 5rem 3rem;
    box-shadow: .3rem .3rem .3rem black, .6rem .6rem .6rem black, .9rem .9rem .9rem black;
}

#next-button, #previous-button {
    padding: 2rem;
    background: hsl(39, 69%, 39%);
    cursor: pointer;
}

#next-button:active, #previous-button:active {
 box-shadow: none;
}

/* Media query for screens up to 600px */
@media (max-width: 600px) {
    #next-button, #previous-button {
        flex: 0;
        margin: 0 0.5rem; /* Reduce margin */
        padding: 1rem; /* Reduce padding */
    }
    
    .app {
        padding: 1rem; /* Reduce padding for the .app container */
    }

    /* Adjustments for button font size and box shadows if needed */
    #next-button, #previous-button {
        font-size: 1.8rem; /* Reduce font size */
    }
}

/* Quiz Layout Ends Here */

/* Popup Starts and Overlay Here */
/* Overlay Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* This will give a semi-transparent black background */
    z-index: 99; /* To make sure the overlay is below the popup and above everything else */
}

/* Popup Styles */
#popup {
    margin: 1rem 1rem;
    padding: 5rem;
    background: radial-gradient(hsl(350, 100%, 88%),hsl(300, 100%, 10%));
    max-width: 55rem;
    max-height: 50rem;
    border-top-right-radius: 25rem 25rem;
    border-top-left-radius: 25rem 25rem;
    display: flex;
    flex-direction: column; /*To stack content vertically */
    align-items: center; /* To center content horizontally */
    justify-content: center; /* To center content vertically */
    z-index: 100;
    position: fixed; /* To make the popup stay above everything else */
    top: 50%; /* Centering purposes */
    left: 50%; /* Centering purposes */
    transform: translate(-50%, -50%); /* Centering purposes */
    box-shadow: 0 0rem 1rem rgba(0,0,0,0.5), 0 0rem 2rem rgba(0,0,0,0.5); /* Add shadow to give a hovering effect */
}

#popup img {
    max-width: 80%; /* To make sure the image fits in the popup */
}

#popup h1, #popup h2, #popup h3 {
    font-size: 1.6rem;
    color: hsl(0, 0%, 5%);
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.7);
    margin-top: 1rem;
}
#refresh-button {
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
#refresh-button:hover {
    background: rgb(153, 0, 0);
    color: #fffafa;
}

@media (max-width: 600px) {
    #popup {
        min-width: 35rem;
        min-height: 20rem;
        border-top-right-radius: 15rem 15rem;
        border-top-left-radius: 15rem 15rem;
    }
    #popup h1, #popup h2, #popup h3 {
        font-size: 1.2rem;
        margin: 1rem 1rem 0rem 1rem;
    }
}

/* Footer Styles */
footer {
    background-color: #333333; /* Charcoal Black */
    color: #FFFFFF; /* White color for the text */
    padding: 1rem 0; /* Padding top and bottom */
    text-align: center; /* Center the text */
    font-size: 0.9rem; /* Adjust font size */
}

.footer-content p {
    margin: 0.5rem 0; /* Add some margin for spacing between the two lines of text */
}
