* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


html,
body {
    font-size: 62.5%;
}

/* NavBar Starts Here */
nav {
    background: hsl(0, 8%, 9%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 2.5rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav .mainMenu li a:hover {
    background-color: rgba(0, 255, 255, 0.295);
}

nav .openMenu {
    font-size: 2rem;
    margin: 2rem;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-facebook,
.fa-instagram,
.fa-discord,
.fa-github {
    color: rgb(200, 200, 245);
    text-shadow: 0 0 15px rgba(230, 230, 255, 0.466);
    background: transparent;
    padding: .71rem;
    border: none;
    border-radius: 50%;

}

:where(.fa-facebook, .fa-instagram, .fa-discord, .fa-github):hover {
    background: rgba(183, 241, 255, 0.678);
    color: rgb(26, 22, 22);
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.753);
    border: none;
}

nav .logo {
    margin: .6rem;
    font-size: 2.5rem;
    user-select: none;
}

@media (max-width: 786px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(26, 22, 22);
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: rgb(161, 105, 1);
        font-size: 1.6rem;
    }

    .icons i {
        display: inline-block;
    }
}

/* NavBar Ends Here */
section {
    width: 100%;
    min-height: 90vh;
    background: linear-gradient(45deg, hsl(240, 100%, 5%), hsl(240, 90%, 10%), hsl(240, 80%, 20%), hsl(240, 70%, 30%));
    color: #fffafa;
    position: relative;
}

.container {
    width: 80rem;
    height: 15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, hsla(305, 100%, 25%, 0.3), hsl(305, 90%, 30%, 0.3), hsl(305, 80%, 35%, 0.3), hsl(305, 70%, 40%, 0.3));
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4rem);
}

.container::before {
    content: '';
    width: 18rem;
    height: 18rem;
    background: radial-gradient(closest-corner at 50% 50%, #c1121f 0%, #780000 25%, hsl(0, 100%, -12%));
    box-shadow: 0 0 .5rem hsla(0, 100%, 99%, 0.5), 0 0 2rem 1rem hsla(0, 100%, 99%, 0.199), 0 0 2rem 1.5rem hsla(0, 100%, 99%, 0.11);
    border-radius: .5rem;
    position: absolute;
    left: -5rem;
    top: -5rem;
    z-index: -1;
}

.container::after {
    content: '';
    width: 18rem;
    height: 18rem;
    background: #fdf0d5;
    box-shadow: 0 0 .5rem hsla(0, 100%, 99%, 0.5), 0 0 2rem 1rem hsla(0, 100%, 99%, 0.199), 0 0 2rem 1.5rem hsla(0, 100%, 99%, 0.11);
    border-radius: 50%;
    position: absolute;
    right: -5rem;
    bottom: -10rem;
    z-index: -1;
}

.clock span {
    font-size: 8rem;
    width: 11rem;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span:after {
    font-size: 1.6rem;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%);
}

#hrs::after {
    content: 'HOURS';
}

#min::after {
    content: 'MIN';
}

#sec::after {
    content: 'SEC';
}