@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Roboto&display=swap');

:root {
    --black-russian: #0b0c10;
    --dark-greyish-blue: #1f2833;
    --link-water: #c5c6c7;
    --light-cyan: #66fcf1;
    --bright-cyan: #45a29e;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: var(--black-russian);
}

.Navbar ul li {
    text-decoration: none;
    list-style-type: none;
}

.Navbar {
    background-color: var(--black-russian);
    color: var(--link-water);
    height: 69px;
    font-size: 3.5vw;
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
    border-bottom: 2px solid var(--link-water);
    box-shadow: 0 0 5px var(--link-water);
}

.gameContainer {
    background-color: var(--dark-greyish-blue);
    justify-content: center;
    display: flex;
    margin: 30px;
    border: 2px solid var(--link-water);
    box-shadow: 0px 2px 15px var(--link-water);
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    padding: 30px;
}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: var(--bright-cyan);
}

.gameInfo {
    padding: 0 30px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 2rem;
    color: var(--link-water);
    justify-content: center;
    text-align: center;

}

.imageBox img {
    width: 0;
    transition: 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bt-0 {
    border-top: 0;
}

.bl-0 {
    border-left: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    margin: 0px 15px;
    padding: 5px 13px;
    background-color: var(--light-cyan);
    border-radius: 20px;
    cursor: pointer;
    font-family: "Baloo Bhaina 2", cursive;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 5px var(--light-cyan);
}

.info {
    font-size: 22px;
}

@media screen and (max-width: 950px) {
    .gameContainer {
        flex-wrap: wrap;
    }

    .gameInfo {
        margin-top: 34px;
        justify-content: center;
        text-align: center;
    }

    .gameInfo h1 {
        font-size: 1.5rem;
    }

    .gameInfo li {
        list-style-type: none;
        list-style: none;
    }

    .container {
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
        padding: 15px;
    }

    .boxtext {
        color: var(--light-cyan);
        transition: .3s ease-in-out;
    }

    .boxtext:hover {
        color: var(--black-russian);
    }

    /* .line {
        background-color: var(--link-water);
        width: 60vw;
        height: 3px;
        border-radius: 20px;
        box-shadow: 0 0 20px var(--link-water);
        position: absolute;
        transform: translate(0vw, 30vw) rotate(90deg)
    } */
}

.boxtext {
    color: var(--light-cyan);
    transition: .3s ease-in-out;
}

.boxtext:hover {
    color: var(--black-russian);
}

.line {
    background-color: var(--link-water);
    width: 0;
    height: 3px;
    border-radius: 20px;
    box-shadow: 0 0 20px var(--link-water);
    position: absolute;
    transition: width 1s ease-in-out;
}