* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #000044, #1d165696);
    padding: 1rem;
}
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 10rem auto 2rem;
    padding: 4rem 30px 7rem;
    border-radius: 1rem;
}
.todo-app h2 {
    color: #000044;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 3.6rem;
    justify-content: center;
}
.todo-app img {
    width: 4.6rem;
    margin-left: 2rem;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #75757552;
    border-radius: 3rem;
    padding-left: 2rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 1rem;
    font-size: 1.6rem;
}
button {
    border: none;
    outline: none;
    padding: 1.6rem 5rem;
    background: #f2f54ed7;
    color: black;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 4rem;
}
ul li {
    list-style: none;
    font-size: 1.7rem;
    padding: 1.2rem .8rem 1.2rem 5rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 2.8rem;
    width: 2.8rem;
    /* border-radius: 50%; */
    background-image: url(images/circle-xmark_10489588.svg);
    background-size: contain;
    background-position: center;
    top: 1.2rem;
    left: 1rem;
}
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url(images/user-check_11271937.svg);
}
ul li span {
    position: absolute;
    right: 0;
    top: .5rem;
    width: 4rem;
    height: 4rem;
    font-size: 2.2rem;
    color: #555;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background: #cfddfa62;
}